%h1 Discounts
%table#Discounts
  -if @discounts.presence
    %thead
      %tr
        %th Product Name
        %th Store Name
        %th Rate
    %tbody
      - @discounts.each do |discount|
        %tr
          %td
            = discount.productName
          %td
            = discount.storeName
          %td
            = discount.rate
  -else
    %b "Oops !! Sorry Offer Expires... SomeOther Time"

%br
= link_to 'Get Back to Stores', stores_show_stores_path