%h1 Discounts
%p Find me in app/views/stores/show_offers.html.haml
%table#Discounts
  %thead
    %tr
      %th Product Name
      %th Store Name
      %th Rate
  - @discounts.each do |discount|
    %tr
      %td
        = discount.productName
      %td
        = discount.storeName
      %td
        = discount.rate